/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


header {
    background-image: url(../images/background-singup.png);
    color: white;
}

h1 {
font-size: 60px;
text-align: center;
}

header p {
font-size: 20px;
text-align: center;
}

header p span {
color: orange;
}

ul {
display: none 
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header button span {
    color: white;
}

.button-google button {
    width: 80vw;
    height: 60px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
    text-transform: uppercase;
}

#google {
    background-color: rgb(130, 130, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#google div {
    background-color: white;
    width: 50px;
    margin-top: 1px;
    border-radius: 4px;
}

#google div img {
    width: 40px;
}

#email {
    color: rgb(98, 6, 116);
}





